.banner {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 800px; /* Set your desired maximum width */
  width: 100%; /* Take up the full width of the container div */
  flex: 1;
  padding: 20px;
  color: white;
  text-align: left;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  border-radius: 15px 50px;
  margin-right: 20px; /* Adjust the margin-right to create space between quote and image */
  display: flex; /* Add this property */
  align-items: center; /* Add this property */
}

.quote {
  font-style: italic;
  margin-right: 20px;
}

.author {
  font-weight: bold;
}

.banner img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.banner:hover .container {
  opacity: 1;
}

.banner:hover img {
  opacity: 1;
}








  
  